In [ ]:
pip install opendartreader # DART API를 손쉽게 불러와서 쓸수 있는 패키지입니다.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: opendartreader in /usr/local/lib/python3.9/dist-packages (0.2.3)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.9/dist-packages (from opendartreader) (1.5.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from opendartreader) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from opendartreader) (4.11.2)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.9/dist-packages (from opendartreader) (2.27.1)
Requirement already satisfied: requests-file in /usr/local/lib/python3.9/dist-packages (from opendartreader) (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.19.2->opendartreader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.19.2->opendartreader) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.19.2->opendartreader) (1.22.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.3.0->opendartreader) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.3.0->opendartreader) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.3.0->opendartreader) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.3.0->opendartreader) (2.0.12)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->opendartreader) (2.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from requests-file->opendartreader) (1.16.0)

In [ ]:
pip install --upgrade opendartreader #이미 설치돼 있다면 업그레이드

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: opendartreader in /usr/local/lib/python3.9/dist-packages (0.2.3)
Requirement already satisfied: requests-file in /usr/local/lib/python3.9/dist-packages (from opendartreader) (1.5.1)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.9/dist-packages (from opendartreader) (2.27.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from opendartreader) (4.11.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from opendartreader) (4.9.2)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.9/dist-packages (from opendartreader) (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.19.2->opendartreader) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.19.2->opendartreader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.19.2->opendartreader) (2022.7.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.3.0->opendartreader) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.3.0->opendartreader) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.3.0->opendartreader) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.3.0->opendartreader) (2022.12.7)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->opendartreader) (2.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from requests-file->opendartreader) (1.16.0)

In [10]:
import OpenDartReader

# 주석(Remark)
# ==== 0. 객체 생성 ==== 주석(remark)
# 객체 생성 (API KEY 지정) 
api_key = '07c7f341baf16d656e73b618ab3ffe0bedc7cf68'
#key는 각자 받은 것으로 하시면 됩니다.

dart = OpenDartReader(api_key) # 들어가서 데이터를 보는것이다.

In [11]:
# == 1. 공시정보 검색 ==
# 삼성전자의 정기보고서('A') 2020년
dart.list('005930', kind='A', start='2022-01-01', end='2022-09-01')

,corp_code,corp_name,stock_code,corp_cls,report_nm,rcept_no,flr_nm,rcept_dt,rm
0,00126380,삼성전자,005930,Y,반기보고서 (2022.06),20220816001711,삼성전자,20220816,
1,00126380,삼성전자,005930,Y,분기보고서 (2022.03),20220516001751,삼성전자,20220516,
2,00126380,삼성전자,005930,Y,사업보고서 (2021.12),20220308000798,삼성전자,20220308,연

In [12]:
# 기업의 개황정보
dart.company('005930')

{'status': '000',
 'message': '정상',
 'corp_code': '00126380',
 'corp_name': '삼성전자(주)',
 'corp_name_eng': 'SAMSUNG ELECTRONICS CO,.LTD',
 'stock_name': '삼성전자',
 'stock_code': '005930',
 'ceo_nm': '한종희, 경계현',
 'corp_cls': 'Y',
 'jurir_no': '1301110006246',
 'bizr_no': '1248100998',
 'adres': '경기도 수원시 영통구  삼성로 129 (매탄동)',
 'hm_url': 'www.samsung.com/sec',
 'ir_url': '',
 'phn_no': '02-2255-0114',
 'fax_no': '031-200-7538',
 'induty_code': '264',
 'est_dt': '19690113',
 'acc_mt': '12'}

In [33]:
# 회사명에 삼성전자가 포함된 회사들에 대한 개황정보
dart.company_by_name('삼성전자')

[{'status': '000',
  'message': '정상',
  'corp_code': '00258999',
  'corp_name': '삼성전자 서비스주식회사',
  'corp_name_eng': 'SAMSUNNG ELECTRONICS SERVICE CO., LTD',
  'stock_name': '삼성전자서비스',
  'stock_code': '',
  'ceo_nm': '송봉섭',
  'corp_cls': 'E',
  'jurir_no': '1301110049139',
  'bizr_no': '1248158485',
  'adres': '경기도 수원시 영통구 삼성로 290 (원천동)',
  'hm_url': 'www.samsungsvc.co.kr',
  'ir_url': '',
  'phn_no': '031-270-2177',
  'fax_no': '031-270-2106',
  'induty_code': '95',
  'est_dt': '19981027',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '01345812',
  'corp_name': '삼성전자서비스씨에스 주식회사',
  'corp_name_eng': 'SAMSUNG ELECTRONICS SERVICE CUSTOMER SATISFACTION., LTD.',
  'stock_name': '삼성전자서비스씨에스',
  'stock_code': '',
  'ceo_nm': '이명옥',
  'corp_cls': 'E',
  'jurir_no': '1358110352541',
  'bizr_no': '7898701103',
  'adres': '경기도 수원시 영통구 중부대로 324 (매탄동, KT동수원지사)',
  'hm_url': '',
  'ir_url': '',
  'phn_no': '031-210-8914',
  'fax_no': '031-8006-1009',
  'induty_code': '75991',
  'est_dt': '20181105',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00252074',
  'corp_name': '삼성전자판매 주식회사',
  'corp_name_eng': 'SAMSUNG ELECTRONICS SALES Co., Ltd.',
  'stock_name': '삼성전자판매',
  'stock_code': '',
  'ceo_nm': '이평우',
  'corp_cls': 'E',
  'jurir_no': '1801110210300',
  'bizr_no': '6178117517',
  'adres': '경기도 성남시 분당구 황새울로 340',
  'hm_url': 'www.samsungsales.co.kr',
  'ir_url': '',
  'phn_no': '02-3460-6656',
  'fax_no': '02-3460-6802',
  'induty_code': '47320',
  'est_dt': '19960711',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00126380',
  'corp_name': '삼성전자(주)',
  'corp_name_eng': 'SAMSUNG ELECTRONICS CO,.LTD',
  'stock_name': '삼성전자',
  'stock_code': '005930',
  'ceo_nm': '한종희, 경계현',
  'corp_cls': 'Y',
  'jurir_no': '1301110006246',
  'bizr_no': '1248100998',
  'adres': '경기도 수원시 영통구  삼성로 129 (매탄동)',
  'hm_url': 'www.samsung.com/sec',
  'ir_url': '',
  'phn_no': '02-2255-0114',
  'fax_no': '031-200-7538',
  'induty_code': '264',
  'est_dt': '19690113',
  'acc_mt': '12'},
 {'status': '000',
  'message': '정상',
  'corp_code': '00366997',
  'corp_name': '삼성전자로지텍(주)',
  'corp_name_eng': 'SELC.CO.,LTD',
  'stock_name': '삼성전자로지텍',
  'stock_code': '',
  'ceo_nm': '최윤범',
  'corp_cls': 'E',
  'jurir_no': '1301110046797',
  'bizr_no': '1248155381',
  'adres': '경기도 수원시 영통구 삼성로 129',
  'hm_url': 'www.selc.co.kr',
  'ir_url': '',
  'phn_no': '031-270-3488',
  'fax_no': '031-270-3673',
  'induty_code': '52999',
  'est_dt': '19980401',
  'acc_mt': '12'}]

In [34]:
dart.company_by_name('LG전자')

[{'status': '000',
  'message': '정상',
  'corp_code': '00401731',
  'corp_name': 'LG전자(주)',
  'corp_name_eng': 'LG ELECTRONICS INC.',
  'stock_name': 'LG전자',
  'stock_code': '066570',
  'ceo_nm': '조주완, 배두용 (각자 대표이사)',
  'corp_cls': 'Y',
  'jurir_no': '1101112487050',
  'bizr_no': '1078614075',
  'adres': '서울특별시 영등포구  여의대로 128 LG트윈타워',
  'hm_url': 'www.lge.co.kr',
  'ir_url': 'www.lge.co.kr/company/investor/presentation#com-tabs01',
  'phn_no': '02-3777-1114',
  'fax_no': '3777-3428',
  'induty_code': '264',
  'est_dt': '20020401',
  'acc_mt': '12'}]

In [14]:
# 삼성전자 사업보고서 (2018.12) 원문 텍스트
xml_text = dart.document('20190401004781')

In [38]:
# ==== 2. 사업보고서 ====
# 삼성전자(005930), 배당관련 사항, 2022년
dart.report('005930', '배당', 2022)

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr,stock_knd
0,20230307000542,Y,00126380,삼성전자,주당액면가액(원),100,100,100,NaN
1,20230307000542,Y,00126380,삼성전자,(연결)당기순이익(백만원),"54,730,018","39,243,791","26,090,846",NaN
2,20230307000542,Y,00126380,삼성전자,(별도)당기순이익(백만원),"25,418,778","30,970,954","15,615,018",NaN
3,20230307000542,Y,00126380,삼성전자,(연결)주당순이익(원),"8,057","5,777","3,841",NaN
4,20230307000542,Y,00126380,삼성전자,현금배당금총액(백만원),"9,809,438","9,809,438","20,338,075",NaN
5,20230307000542,Y,00126380,삼성전자,주식배당금총액(백만원),-,-,-,NaN
6,20230307000542,Y,00126380,삼성전자,(연결)현금배당성향(%),17.90,25.00,78.00,NaN
7,20230307000542,Y,00126380,삼성전자,현금배당수익률(%),2.50,1.80,4.00,보통주
8,20230307000542,Y,00126380,삼성전자,현금배당수익률(%),2.70,2.00,4.20,우선주
9,20230307000542,Y,00126380,삼성전자,주식배당수익률(%),-,-,-,보통주
10,20230307000542,Y,00126380,삼성전자,주식배당수익률(%),-,-,-,우선주
11,20230307000542,Y,00126380,삼성전자,주당 현금배당금(원),"1,444","1,444","2,994",보통주
12,20230307000542,Y,00126380,삼성전자,주당 현금배당금(원),"1,445","1,445","2,995",우선주
13,20230307000542,Y,00126380,삼성전자,주당 주식배당(주),-,-,-,보통주
14,20230307000542,Y,00126380,삼성전자,주당 주식배당(주),-,-,-,우선주

In [37]:
# ==== 2. 사업보고서 ====
# 삼성전자(005930), 배당관련 사항, 2022년
dart.report('005930', '배당', 2022)

,rcept_no,corp_cls,corp_code,corp_name,se,thstrm,frmtrm,lwfr,stock_knd
0,20230307000542,Y,00126380,삼성전자,주당액면가액(원),100,100,100,NaN
1,20230307000542,Y,00126380,삼성전자,(연결)당기순이익(백만원),"54,730,018","39,243,791","26,090,846",NaN
2,20230307000542,Y,00126380,삼성전자,(별도)당기순이익(백만원),"25,418,778","30,970,954","15,615,018",NaN
3,20230307000542,Y,00126380,삼성전자,(연결)주당순이익(원),"8,057","5,777","3,841",NaN
4,20230307000542,Y,00126380,삼성전자,현금배당금총액(백만원),"9,809,438","9,809,438","20,338,075",NaN
5,20230307000542,Y,00126380,삼성전자,주식배당금총액(백만원),-,-,-,NaN
6,20230307000542,Y,00126380,삼성전자,(연결)현금배당성향(%),17.90,25.00,78.00,NaN
7,20230307000542,Y,00126380,삼성전자,현금배당수익률(%),2.50,1.80,4.00,보통주
8,20230307000542,Y,00126380,삼성전자,현금배당수익률(%),2.70,2.00,4.20,우선주
9,20230307000542,Y,00126380,삼성전자,주식배당수익률(%),-,-,-,보통주
10,20230307000542,Y,00126380,삼성전자,주식배당수익률(%),-,-,-,우선주
11,20230307000542,Y,00126380,삼성전자,주당 현금배당금(원),"1,444","1,444","2,994",보통주
12,20230307000542,Y,00126380,삼성전자,주당 현금배당금(원),"1,445","1,445","2,995",우선주
13,20230307000542,Y,00126380,삼성전자,주당 주식배당(주),-,-,-,보통주
14,20230307000542,Y,00126380,삼성전자,주당 주식배당(주),-,-,-,우선주

In [17]:
# 서울반도체(046890), 최대주주 관한 사항, 2018년
dart.report('046890', '최대주주', 2018)

,rcept_no,corp_cls,corp_code,corp_name,stock_knd,nm,relate,bsis_posesn_stock_co,bsis_posesn_stock_qota_rt,trmend_posesn_stock_co,trmend_posesn_stock_qota_rt,rm
0,20190401003450,K,00130763,서울반도체,보통주,이정훈,본인,"9,749,744",16.72,"9,749,744",16.72,-
1,20190401003450,K,00130763,서울반도체,보통주,이민호,특수관계인,"5,076,358",8.71,"5,076,358",8.71,-
2,20190401003450,K,00130763,서울반도체,보통주,이민규,특수관계인,"5,076,358",8.71,"5,076,358",8.71,-
3,20190401003450,K,00130763,서울반도체,보통주,계,NaN,"19,902,460",34.13,"19,902,460",34.13,-
4,20190401003450,K,00130763,서울반도체,-,계,NaN,-,-,-,-,-

In [18]:
# 서울반도체(046890), 임원 관한 사항, 2018년
dart.report('046890', '임원', 2018)

,rcept_no,corp_cls,corp_code,corp_name,nm,sexdstn,birth_ym,ofcps,rgist_exctv_at,fte_at,chrg_job,main_career,mxmm_shrholdr_relate,hffc_pd,tenure_end_on
0,20190401003450,K,00130763,서울반도체,이정훈,남,1953년 01월,대표이사\n 사장,등기임원,상근,경영총괄,- 삼신전기(주) 부사장\n- 서울반도체(주) 대표이사(現),본인,1992년~,2019년 03월 28일
1,20190401003450,K,00130763,서울반도체,박형건,남,1960년 04월,사외이사,등기임원,비상근,사외이사/\n 감사위원,- 연세대경영학학사/서울대경영학석사수료\n- 국세청 정보공개심의위원회 위원\n- 우...,-,2016년~,2020년 03월 27일
2,20190401003450,K,00130763,서울반도체,장정식,남,1955년 07월,사외이사,등기임원,비상근,사외이사/\n 감사위원,- 서울대 공업화학과 학사/석사\n- Case Western Reserve 대학 공...,-,2018년~,2020년 03월 27일
3,20190401003450,K,00130763,서울반도체,오명민,남,1977년 01월,사외이사,등기임원,비상근,사외이사/\n 감사위원,- 서울대 원예학과 학사/석사\n- Kansas 주립대학 원예학과 박사\n- 충북대...,-,2018년~,2020년 03월 27일

In [19]:
# ==== 3. 상장기업 재무정보 ====
# 삼성전자 2018 재무제표 
dart.finstate('삼성전자', 2018) # 사업보고서

,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,sj_nm,account_nm,...,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_dt,bfefrmtrm_amount,ord,currency
0,20190401004781,11011,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,유동자산,...,2018.12.31 현재,"174,697,424,000,000",제 49 기,2017.12.31 현재,"146,982,464,000,000",제 48 기,2016.12.31 현재,"141,429,704,000,000",1,KRW
1,20190401004781,11011,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,비유동자산,...,2018.12.31 현재,"164,659,820,000,000",제 49 기,2017.12.31 현재,"154,769,626,000,000",제 48 기,2016.12.31 현재,"120,744,620,000,000",3,KRW
2,20190401004781,11011,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,자산총계,...,2018.12.31 현재,"339,357,244,000,000",제 49 기,2017.12.31 현재,"301,752,090,000,000",제 48 기,2016.12.31 현재,"262,174,324,000,000",5,KRW
3,20190401004781,11011,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,유동부채,...,2018.12.31 현재,"69,081,510,000,000",제 49 기,2017.12.31 현재,"67,175,114,000,000",제 48 기,2016.12.31 현재,"54,704,095,000,000",7,KRW
4,20190401004781,11011,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,비유동부채,...,2018.12.31 현재,"22,522,557,000,000",제 49 기,2017.12.31 현재,"20,085,548,000,000",제 48 기,2016.12.31 현재,"14,507,196,000,000",9,KRW
5,20190401004781,11011,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,부채총계,...,2018.12.31 현재,"91,604,067,000,000",제 49 기,2017.12.31 현재,"87,260,662,000,000",제 48 기,2016.12.31 현재,"69,211,291,000,000",11,KRW
6,20190401004781,11011,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,자본금,...,2018.12.31 현재,"897,514,000,000",제 49 기,2017.12.31 현재,"897,514,000,000",제 48 기,2016.12.31 현재,"897,514,000,000",13,KRW
7,20190401004781,11011,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,이익잉여금,...,2018.12.31 현재,"242,698,956,000,000",제 49 기,2017.12.31 현재,"215,811,200,000,000",제 48 기,2016.12.31 현재,"193,086,317,000,000",17,KRW
8,20190401004781,11011,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,자본총계,...,2018.12.31 현재,"247,753,177,000,000",제 49 기,2017.12.31 현재,"214,491,428,000,000",제 48 기,2016.12.31 현재,"192,963,033,000,000",21,KRW
9,20190401004781,11011,2018,00126380,005930,CFS,연결재무제표,IS,손익계산서,매출액,...,2018.01.01 ~ 2018.12.31,"243,771,415,000,000",제 49 기,2017.01.01 ~ 2017.12.31,"239,575,376,000,000",제 48 기,2016.01.01 ~ 2016.12.31,"201,866,745,000,000",23,KRW
10,20190401004781,11011,2018,00126380,005930,CFS,연결재무제표,IS,손익계산서,영업이익,...,2018.01.01 ~ 2018.12.31,"58,886,669,000,000",제 49 기,2017.01.01 ~ 2017.12.31,"53,645,038,000,000",제 48 기,2016.01.01 ~ 2016.12.31,"29,240,672,000,000",25,KRW
11,20190401004781,11011,2018,00126380,005930,CFS,연결재무제표,IS,손익계산서,법인세차감전 순이익,...,2018.01.01 ~ 2018.12.31,"61,159,958,000,000",제 49 기,2017.01.01 ~ 2017.12.31,"56,195,967,000,000",제 48 기,2016.01.01 ~ 2016.12.31,"30,713,652,000,000",27,KRW
12,20190401004781,11011,2018,00126380,005930,CFS,연결재무제표,IS,손익계산서,당기순이익,...,2018.01.01 ~ 2018.12.31,"44,344,857,000,000",제 49 기,2017.01.01 ~ 2017.12.31,"42,186,747,000,000",제 48 기,2016.01.01 ~ 2016.12.31,"22,726,092,000,000",29,KRW
13,20190401004781,11011,2018,00126380,005930,OFS,재무제표,BS,재무상태표,유동자산,...,2018.12.31 현재,"80,039,455,000,000",제 49 기,2017.12.31 현재,"70,155,189,000,000",제 48 기,2016.12.31 현재,"69,981,128,000,000",2,KRW
14,20190401004781,11011,2018,00126380,005930,OFS,재무제표,BS,재무상태표,비유동자산,...,2018.12.31 현재,"138,981,902,000,000",제 49 기,2017.12.31 현재,"128,086,171,000,000",제 48 기,2016.12.31 현재,"104,821,831,000,000",4,KRW
15,20190401004781,11011,2018,00126380,005930,OFS,재무제표,BS,재무상태표,자산총계,...,2018.12.31 현재,"219,021,357,000,000",제 49 기,2017.12.31 현재,"198,241,360,000,000",제 48 기,2016.12.31 현재,"174,802,959,000,000",6,KRW
16,20190401004781,11011,2018,00126380,005930,OFS,재무제표,BS,재무상태표,유동부채,...,2018.12.31 현재,"43,145,053,000,000",제 49 기,2017.12.31 현재,"44,495,084,000,000",제 48 기,2016.12.31 현재,"34,076,122,000,000",8,KRW
17,20190401004781,11011,2018,00126380,005930,OFS,재무제표,BS,재무상태표,비유동부채,...,2018.12.31 현재,"2,888,179,000,000",제 49 기,2017.12.31 현재,"2,176,501,000,000",제 48 기,2016.12.31 현재,"3,180,075,000,000",10,KRW
18,20190401004781,11011,2018,00126380,005930,OFS,재무제표,BS,재무상태표,부채총계,...,2018.12.31 현재,"46,033,232,000,000",제 49 기,2017.12.31 현재,"46,671,585,000,000",제 48 기,2016.12.31 현재,"37,256,197,000,000",12,KRW
19,20190401004781,11011,2018,00126380,005930,OFS,재무제표,BS,재무상태표,자본금,...,2018.12.31 현재,"897,514,000,000",제 49 기,2017.12.31 현재,"897,514,000,000",제 48 기,2016.12.31 현재,"897,514,000,000",15,KRW
20,20190401004781,11011,2018,00126380,005930,OFS,재무제표,BS,재무상태표,이익잉여금,...,2018.12.31 현재,"166,555,532,000,000",제 49 기,2017.12.31 현재,"150,928,724,000,000",제 48 기,2016.12.31 현재,"140,747,574,000,000",19,KRW
21,20190401004781,11011,2018,00126380,005930,OFS,재무제표,BS,재무상태표,자본총계,...,2018.12.31 현재,"172,988,125,000,000",제 49 기,2017.12.31 현재,"151,569,775,000,000",제 48 기,2016.12.31 현재,"137,546,762,000,000",22,KRW
22,20190401004781,11011,2018,00126380,005930,OFS,재무제표,IS,손익계산서,매출액,...,2018.01.01 ~ 2018.12.31,"170,381,870,000,000",제 49 기,2017.01.01 ~ 2017.12.31,"161,915,007,000,000",제 48 기,2016.01.01 ~ 2016.12.31,"133,947,204,000,000",24,KRW
23,20190401004781,11011,2018,00126380,005930,OFS,재무제표,IS,손익계산서,영업이익,...,2018.01.01 ~ 2018.12.31,"43,699,451,000,000",제 49 기,2017.01.01 ~ 2017.12.31,"34,857,091,000,000",제 48 기,2016.01.01 ~ 2016.12.31,"13,647,436,000,000",26,KRW
24,20190401004781,11011,2018,00126380,005930,OFS,재무제표,IS,손익계산서,법인세차감전 순이익,...,2018.01.01 ~ 2018.12.31,"44,398,855,000,000",제 49 기,2017.01.01 ~ 2017.12.31,"36,533,552,000,000",제 48 기,2016.01.01 ~ 2016.12.31,"14,725,074,000,000",28,KRW
25,20190401004781,11011,2018,00126380,005930,OFS,재무제표,IS,손익계산서,당기순이익,...,2018.01.01 ~ 2018.12.31,"32,815,127,000,000",제 49 기,2017.01.01 ~ 2017.12.31,"28,800,837,000,000",제 48 기,2016.01.01 ~ 2016.12.31,"11,579,749,000,000",30,KRW

In [20]:
# 삼성전자 2018Q1 재무제표
dart.finstate('삼성전자', 2018, reprt_code='11013')

,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,sj_nm,account_nm,thstrm_nm,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,ord,currency,thstrm_add_amount,frmtrm_add_amount
0,20180515001699,11013,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,유동자산,제 50 기1분기말,2018.03.31 현재,"154,941,953,000,000",제 49 기말,2017.12.31 현재,"146,982,464,000,000",1,KRW,NaN,NaN
1,20180515001699,11013,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,비유동자산,제 50 기1분기말,2018.03.31 현재,"157,531,160,000,000",제 49 기말,2017.12.31 현재,"154,769,626,000,000",3,KRW,NaN,NaN
2,20180515001699,11013,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,자산총계,제 50 기1분기말,2018.03.31 현재,"312,473,113,000,000",제 49 기말,2017.12.31 현재,"301,752,090,000,000",5,KRW,NaN,NaN
3,20180515001699,11013,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,유동부채,제 50 기1분기말,2018.03.31 현재,"68,298,586,000,000",제 49 기말,2017.12.31 현재,"67,175,114,000,000",7,KRW,NaN,NaN
4,20180515001699,11013,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,비유동부채,제 50 기1분기말,2018.03.31 현재,"20,914,647,000,000",제 49 기말,2017.12.31 현재,"20,085,548,000,000",9,KRW,NaN,NaN
5,20180515001699,11013,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,부채총계,제 50 기1분기말,2018.03.31 현재,"89,213,233,000,000",제 49 기말,2017.12.31 현재,"87,260,662,000,000",11,KRW,NaN,NaN
6,20180515001699,11013,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,자본금,제 50 기1분기말,2018.03.31 현재,"897,514,000,000",제 49 기말,2017.12.31 현재,"897,514,000,000",13,KRW,NaN,NaN
7,20180515001699,11013,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,이익잉여금,제 50 기1분기말,2018.03.31 현재,"222,485,398,000,000",제 49 기말,2017.12.31 현재,"215,811,200,000,000",17,KRW,NaN,NaN
8,20180515001699,11013,2018,00126380,005930,CFS,연결재무제표,BS,재무상태표,자본총계,제 50 기1분기말,2018.03.31 현재,"223,259,880,000,000",제 49 기말,2017.12.31 현재,"214,491,428,000,000",21,KRW,NaN,NaN
9,20180515001699,11013,2018,00126380,005930,CFS,연결재무제표,IS,손익계산서,매출액,제 50 기1분기,2018.01.01 ~ 2018.03.31,"60,563,714,000,000",제 49 기1분기,2017.01.01 ~ 2017.03.31,"50,547,526,000,000",23,KRW,"60,563,714,000,000","50,547,526,000,000"
10,20180515001699,11013,2018,00126380,005930,CFS,연결재무제표,IS,손익계산서,영업이익,제 50 기1분기,2018.01.01 ~ 2018.03.31,"15,642,170,000,000",제 49 기1분기,2017.01.01 ~ 2017.03.31,"9,898,361,000,000",25,KRW,"15,642,170,000,000","9,898,361,000,000"
11,20180515001699,11013,2018,00126380,005930,CFS,연결재무제표,IS,손익계산서,법인세차감전 순이익,제 50 기1분기,2018.01.01 ~ 2018.03.31,"16,175,907,000,000",제 49 기1분기,2017.01.01 ~ 2017.03.31,"10,164,576,000,000",27,KRW,"16,175,907,000,000","10,164,576,000,000"
12,20180515001699,11013,2018,00126380,005930,CFS,연결재무제표,IS,손익계산서,당기순이익,제 50 기1분기,2018.01.01 ~ 2018.03.31,"11,688,544,000,000",제 49 기1분기,2017.01.01 ~ 2017.03.31,"7,684,354,000,000",29,KRW,"11,688,544,000,000","7,684,354,000,000"
13,20180515001699,11013,2018,00126380,005930,OFS,재무제표,BS,재무상태표,유동자산,제 50 기1분기말,2018.03.31 현재,"72,370,085,000,000",제 49 기말,2017.12.31 현재,"70,155,189,000,000",2,KRW,NaN,NaN
14,20180515001699,11013,2018,00126380,005930,OFS,재무제표,BS,재무상태표,비유동자산,제 50 기1분기말,2018.03.31 현재,"132,836,079,000,000",제 49 기말,2017.12.31 현재,"128,086,171,000,000",4,KRW,NaN,NaN
15,20180515001699,11013,2018,00126380,005930,OFS,재무제표,BS,재무상태표,자산총계,제 50 기1분기말,2018.03.31 현재,"205,206,164,000,000",제 49 기말,2017.12.31 현재,"198,241,360,000,000",6,KRW,NaN,NaN
16,20180515001699,11013,2018,00126380,005930,OFS,재무제표,BS,재무상태표,유동부채,제 50 기1분기말,2018.03.31 현재,"47,168,741,000,000",제 49 기말,2017.12.31 현재,"44,495,084,000,000",8,KRW,NaN,NaN
17,20180515001699,11013,2018,00126380,005930,OFS,재무제표,BS,재무상태표,비유동부채,제 50 기1분기말,2018.03.31 현재,"1,842,051,000,000",제 49 기말,2017.12.31 현재,"2,176,501,000,000",10,KRW,NaN,NaN
18,20180515001699,11013,2018,00126380,005930,OFS,재무제표,BS,재무상태표,부채총계,제 50 기1분기말,2018.03.31 현재,"49,010,792,000,000",제 49 기말,2017.12.31 현재,"46,671,585,000,000",12,KRW,NaN,NaN
19,20180515001699,11013,2018,00126380,005930,OFS,재무제표,BS,재무상태표,자본금,제 50 기1분기말,2018.03.31 현재,"897,514,000,000",제 49 기말,2017.12.31 현재,"897,514,000,000",15,KRW,NaN,NaN
20,20180515001699,11013,2018,00126380,005930,OFS,재무제표,BS,재무상태표,이익잉여금,제 50 기1분기말,2018.03.31 현재,"154,284,538,000,000",제 49 기말,2017.12.31 현재,"150,928,724,000,000",19,KRW,NaN,NaN
21,20180515001699,11013,2018,00126380,005930,OFS,재무제표,BS,재무상태표,자본총계,제 50 기1분기말,2018.03.31 현재,"156,195,372,000,000",제 49 기말,2017.12.31 현재,"151,569,775,000,000",22,KRW,NaN,NaN
22,20180515001699,11013,2018,00126380,005930,OFS,재무제표,IS,손익계산서,매출액,제 50 기1분기,2018.01.01 ~ 2018.03.31,"42,606,978,000,000",제 49 기1분기,2017.01.01 ~ 2017.03.31,"34,578,524,000,000",24,KRW,"42,606,978,000,000","34,578,524,000,000"
23,20180515001699,11013,2018,00126380,005930,OFS,재무제표,IS,손익계산서,영업이익,제 50 기1분기,2018.01.01 ~ 2018.03.31,"11,200,897,000,000",제 49 기1분기,2017.01.01 ~ 2017.03.31,"5,675,571,000,000",26,KRW,"11,200,897,000,000","5,675,571,000,000"
24,20180515001699,11013,2018,00126380,005930,OFS,재무제표,IS,손익계산서,법인세차감전 순이익,제 50 기1분기,2018.01.01 ~ 2018.03.31,"11,568,977,000,000",제 49 기1분기,2017.01.01 ~ 2017.03.31,"6,309,744,000,000",28,KRW,"11,568,977,000,000","6,309,744,000,000"
25,20180515001699,11013,2018,00126380,005930,OFS,재무제표,IS,손익계산서,당기순이익,제 50 기1분기,2018.01.01 ~ 2018.03.31,"8,452,458,000,000",제 49 기1분기,2017.01.01 ~ 2017.03.31,"4,873,767,000,000",30,KRW,"8,452,458,000,000","4,873,767,000,000"

In [21]:
# 여러종목 한번에
dart.finstate('00126380,00164779,00164742', 2021)
dart.finstate('005930, 000660, 005380', 2021)
dart.finstate('삼성전자, SK하이닉스, 현대자동차', 2021)

,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,sj_nm,account_nm,...,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_dt,bfefrmtrm_amount,ord,currency
0,20220308000798,11011,2021,00126380,005930,CFS,연결재무제표,BS,재무상태표,유동자산,...,2021.12.31 현재,"218,163,185,000,000",제 52 기,2020.12.31 현재,"198,215,579,000,000",제 51 기,2019.12.31 현재,"181,385,260,000,000",1,KRW
1,20220308000798,11011,2021,00126380,005930,CFS,연결재무제표,BS,재무상태표,비유동자산,...,2021.12.31 현재,"208,457,973,000,000",제 52 기,2020.12.31 현재,"180,020,139,000,000",제 51 기,2019.12.31 현재,"171,179,237,000,000",3,KRW
2,20220308000798,11011,2021,00126380,005930,CFS,연결재무제표,BS,재무상태표,자산총계,...,2021.12.31 현재,"426,621,158,000,000",제 52 기,2020.12.31 현재,"378,235,718,000,000",제 51 기,2019.12.31 현재,"352,564,497,000,000",5,KRW
3,20220308000798,11011,2021,00126380,005930,CFS,연결재무제표,BS,재무상태표,유동부채,...,2021.12.31 현재,"88,117,133,000,000",제 52 기,2020.12.31 현재,"75,604,351,000,000",제 51 기,2019.12.31 현재,"63,782,764,000,000",7,KRW
4,20220308000798,11011,2021,00126380,005930,CFS,연결재무제표,BS,재무상태표,비유동부채,...,2021.12.31 현재,"33,604,094,000,000",제 52 기,2020.12.31 현재,"26,683,351,000,000",제 51 기,2019.12.31 현재,"25,901,312,000,000",9,KRW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,20220322000590,11011,2021,00164779,000660,OFS,재무제표,BS,재무상태표,자본총계,...,2021.12.31 현재,"58,737,614,000,000",제 73 기,2020.12.31 현재,"49,574,304,000,000",제 72 기,2019.12.31 현재,"46,036,908,000,000",22,KRW
73,20220322000590,11011,2021,00164779,000660,OFS,재무제표,IS,손익계산서,매출액,...,2021.01.01 ~ 2021.12.31,"41,557,337,000,000",제 73 기,2020.01.01 ~ 2020.12.31,"30,524,987,000,000",제 72 기,2019.01.01 ~ 2019.12.31,"25,320,755,000,000",24,KRW
74,20220322000590,11011,2021,00164779,000660,OFS,재무제표,IS,손익계산서,영업이익,...,2021.01.01 ~ 2021.12.31,"12,183,360,000,000",제 73 기,2020.01.01 ~ 2020.12.31,"4,545,877,000,000",제 72 기,2019.01.01 ~ 2019.12.31,"1,989,700,000,000",26,KRW
75,20220322000590,11011,2021,00164779,000660,OFS,재무제표,IS,손익계산서,법인세차감전 순이익,...,2021.01.01 ~ 2021.12.31,"13,130,428,000,000",제 73 기,2020.01.01 ~ 2020.12.31,"5,650,034,000,000",제 72 기,2019.01.01 ~ 2019.12.31,"1,803,514,000,000",28,KRW
76,20220322000590,11011,2021,00164779,000660,OFS,재무제표,IS,손익계산서,당기순이익,...,2021.01.01 ~ 2021.12.31,"9,567,226,000,000",제 73 기,2020.01.01 ~ 2020.12.31,"4,217,841,000,000",제 72 기,2019.01.01 ~ 2019.12.31,"1,476,981,000,000",30,KRW

In [22]:
# 단일기업 전체 재무제표 (삼성전자 2018 전체 재무제표)
dart.finstate_all('005930', 2021)

reprt_code='11011', fs_div='CFS' (사업보고서, 연결제무제표)'

,rcept_no,reprt_code,bsns_year,corp_code,sj_div,sj_nm,account_id,account_nm,account_detail,thstrm_nm,thstrm_amount,frmtrm_nm,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_amount,ord,currency,thstrm_add_amount
0,20220308000798,11011,2021,00126380,BS,재무상태표,ifrs-full_CurrentAssets,유동자산,-,제 53 기,218163185000000,제 52 기,198215579000000,제 51 기,181385260000000,1,KRW,NaN
1,20220308000798,11011,2021,00126380,BS,재무상태표,ifrs-full_CashAndCashEquivalents,현금및현금성자산,-,제 53 기,39031415000000,제 52 기,29382578000000,제 51 기,26885999000000,2,KRW,NaN
2,20220308000798,11011,2021,00126380,BS,재무상태표,dart_ShortTermDepositsNotClassifiedAsCashEquiv...,단기금융상품,-,제 53 기,81708986000000,제 52 기,92441703000000,제 51 기,76252052000000,3,KRW,NaN
3,20220308000798,11011,2021,00126380,BS,재무상태표,-표준계정코드 미사용-,단기상각후원가금융자산,-,제 53 기,3369034000000,제 52 기,2757111000000,제 51 기,3914216000000,4,KRW,NaN
4,20220308000798,11011,2021,00126380,BS,재무상태표,ifrs-full_CurrentFinancialAssetsAtFairValueThr...,단기당기손익-공정가치금융자산,-,제 53 기,40757000000,제 52 기,71451000000,제 51 기,1727436000000,5,KRW,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,20220308000798,11011,2021,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분|기타자본항목,제 53 기,-2128473000000,제 52 기,-8687155000000,제 51 기,-4968829000000,13,KRW,NaN
182,20220308000798,11011,2021,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분|매각예정분류기타자본항목,제 53 기,0,제 52 기,-12132000000,제 51 기,0,13,KRW,NaN
183,20220308000798,11011,2021,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분|이익잉여금 [member],제 53 기,293064763000000,제 52 기,271068211000000,제 51 기,254582894000000,13,KRW,NaN
184,20220308000798,11011,2021,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분|자본금 [member],제 53 기,897514000000,제 52 기,897514000000,제 51 기,897514000000,13,KRW,NaN
185,20220308000798,11011,2021,00126380,SCE,자본변동표,ifrs-full_Equity,기말자본,자본 [member]|지배기업 소유주지분|주식발행초과금,제 53 기,4403893000000,제 52 기,4403893000000,제 51 기,4403893000000,13,KRW,NaN

In [23]:
# 재무제표 XBRL 원본 파일 저장 (삼성전자 2018 사업보고서)
dart.finstate_xml('20190401004781', save_as='삼성전자_2018_사업보고서_XBRL.zip')

True

In [24]:
# XBRL 표준계정과목체계(계정과목)
dart.xbrl_taxonomy('BS1')

,sj_div,bsns_de,account_id,account_nm,label_kor,label_eng,ifrs_ref,data_tp
0,BS1,20180701,ifrs_StatementOfFinancialPositionAbstract,StatementOfFinancialPositionAbstract,재무상태표 [abstract],Statement of financial position [abstract],,NaN
1,BS1,20180701,ifrs_AssetsAbstract,AssetsAbstract,자산 [abstract],Assets [abstract],,NaN
2,BS1,20180701,ifrs_CurrentAssets,CurrentAssets,유동자산,Current assets,K-IFRS 1001 문단 60,X
3,BS1,20180701,ifrs_CashAndCashEquivalents,CashAndCashEquivalents,현금및현금성자산,Cash and cash equivalents,"K-IFRS 1001 문단 54 (9),K-IFRS 1007 문단 45",X
4,BS1,20180701,ifrs_Cash,Cash,현금,Cash,"K-IFRS 1001 문단 54 (9),K-IFRS 1007 문단 45",X
...,...,...,...,...,...,...,...,...
514,BS1,20180701,dart_VoluntaryReserves,VoluntaryReserves,임의적립금,Voluntary Reserves,"K-IFRS 1001 문단 54 (18),K-IFRS 1001 문단 78 (5),K...",X
515,BS1,20180701,dart_RetainedEarningsBeforeAppropriationsAccum...,RetainedEarningsBeforeAppropriationsAccumulate...,미처분이익잉여금(미처리결손금),Retained earnings before appropriations(accumu...,"K-IFRS 1001 문단 54 (18),K-IFRS 1001 문단 78 (5),K...",X
516,BS1,20180701,ifrs_NoncontrollingInterests,NoncontrollingInterests,비지배지분,Non-controlling interests,K-IFRS 1001 문단 54 (17),X
517,BS1,20180701,ifrs_Equity,Equity,자본총계,Total equity,,NaN
518,BS1,20180701,ifrs_EquityAndLiabilities,EquityAndLiabilities,자본과부채총계,Total equity and liabilities,,NaN

In [25]:
# 임원ㆍ주요주주 소유보고 (종목코드, 종목명, 고유번호 모두 지정 가능)
dart.major_shareholders_exec('005930')

,rcept_no,rcept_dt,corp_code,corp_name,repror,isu_exctv_rgist_at,isu_exctv_ofcps,isu_main_shrholdr,sp_stock_lmp_cnt,sp_stock_lmp_irds_cnt,sp_stock_lmp_rate,sp_stock_lmp_irds_rate
0,20210427000593,2021-04-28,00126380,삼성전자,우경구,비등기임원,상무,-,670,"-1,330",0.00,0.00
1,20210430000481,2021-04-30,00126380,삼성전자,안규리,등기임원,사외이사,-,"3,000",100,0.00,0.00
2,20210430001364,2021-04-30,00126380,삼성전자,김승일,비등기임원,상무,-,254,254,0.00,0.00
3,20210503000523,2021-05-03,00126380,삼성전자,이건희,-,-,사실상지배주주,0,"-249,893,100",0.00,-3.41
4,20210503000533,2021-05-03,00126380,삼성전자,이재용,비등기임원,부회장,사실상지배주주,"97,551,953","55,531,803",1.44,0.87
...,...,...,...,...,...,...,...,...,...,...,...,...
228,20230302000431,2023-03-02,00126380,삼성전자,안재용,비등기임원,상무,-,250,250,0.00,0.00
229,20230316000646,2023-03-16,00126380,삼성전자,안재용,비등기임원,상무,-,500,250,0.00,0.00
230,20230324000884,2023-03-24,00126380,삼성전자,경계현,등기임원,대표이사 사장,-,"21,050","3,000",0.00,0.00
231,20230406002362,2023-04-06,00126380,삼성전자,김이태,비등기임원,부사장,-,"1,800","1,800",0.00,0.00
232,20230412002146,2023-04-12,00126380,삼성전자,김이태,비등기임원,부사장,-,0,"-1,800",0,-0.00

In [26]:
# ==== 5. 확장 기능 ====
# 지정한 날짜의 공시목록 전체
dart.list_date('2020-02-03')

/usr/local/lib/python3.9/dist-packages/OpenDartReader/dart.py:168: UserWarning: list_date() is deprecated. use list_date_ex()
  warnings.warn('list_date() is deprecated. use list_date_ex()')

In [27]:
# 지정한 날짜의 공시목록 전체 (시간 정보 포함)
dart.list_date_ex('2020-01-03')

,rcept_dt,corp_cls,corp_name,rcept_no,report_nm,flr_nm,rm
0,2020-01-03 18:40:00,유,풀무원,20200103800678,장래사업ㆍ경영계획(공정공시),풀무원,유
1,2020-01-03 18:26:00,코,이엠앤아이,20200103000641,[기재정정]주요사항보고서(감자결정),이엠앤아이,정
2,2020-01-03 18:25:00,코,이엠앤아이,20200103000648,[기재정정]주요사항보고서(유상증자결정),이엠앤아이,정
3,2020-01-03 18:25:00,코,이엠앤아이,20200103000645,[기재정정]주요사항보고서(유상증자결정),이엠앤아이,정
4,2020-01-03 18:20:00,넥,렌딩머신,20200103600668,거래처와의거래중단,렌딩머신,넥
...,...,...,...,...,...,...,...
576,2020-01-03 07:30:00,기,동원관광개발,20200102000464,감사보고서 (2019.09),예교지성회계법인,
577,2020-01-03 07:30:00,코,디에스앤엘,20200102000466,[기재정정]의결권대리행사권유참고서류,디에스앤엘,정
578,2020-01-03 07:30:00,코,디에스앤엘,20200102000465,[기재정정]주주총회소집공고,디에스앤엘,정
579,2020-01-03 07:30:00,코,아이쓰리시스템,20200102000459,임원ㆍ주요주주특정증권등소유상황보고서,김병혁,
580,2020-01-03 07:30:00,코,유비벨록스,20200102000460,주식등의대량보유상황보고서(일반),이흥복,

In [28]:
# 개별 문서 제목과 URL
rcp_no = '20190401004781' # 삼성전자 2018년 사업보고서
dart.sub_docs(rcp_no)

,title,url
0,사 업 보 고 서,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
1,【 대표이사 등의 확인 】,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
2,I. 회사의 개요,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
3,1. 회사의 개요,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
4,2. 회사의 연혁,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
5,3. 자본금 변동사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
6,4. 주식의 총수 등,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
7,5. 의결권 현황,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
8,6. 배당에 관한 사항 등,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
9,II. 사업의 내용,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
10,III. 재무에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
11,1. 요약재무정보,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
12,2. 연결재무제표,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
13,3. 연결재무제표 주석,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
14,4. 재무제표,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
15,5. 재무제표 주석,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
16,6. 기타 재무에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
17,IV. 이사의 경영진단 및 분석의견,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
18,V. 감사인의 감사의견 등,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
19,VI. 이사회 등 회사의 기관에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
20,1. 이사회에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
21,2. 감사제도에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
22,3. 주주의 의결권 행사에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
23,VII. 주주에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
24,VIII. 임원 및 직원 등에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
25,1. 임원 및 직원의 현황,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
26,2. 임원의 보수 등,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
27,IX. 계열회사 등에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
28,X. 이해관계자와의 거래내용,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
29,XI. 그 밖에 투자자 보호를 위하여 필요한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
30,【 전문가의 확인 】,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
31,1. 전문가의 확인,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
32,2. 전문가와의 이해관계,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...

In [29]:
# 제목이 잘 매치되는 순서로 소트
dart.sub_docs('20190401004781', match='사업의 내용')

,title,url
9,II. 사업의 내용,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
2,I. 회사의 개요,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
3,1. 회사의 개요,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
4,2. 회사의 연혁,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
28,X. 이해관계자와의 거래내용,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
1,【 대표이사 등의 확인 】,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
18,V. 감사인의 감사의견 등,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
0,사 업 보 고 서,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
31,1. 전문가의 확인,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
17,IV. 이사의 경영진단 및 분석의견,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
6,4. 주식의 총수 등,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
30,【 전문가의 확인 】,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
26,2. 임원의 보수 등,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
32,2. 전문가와의 이해관계,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
19,VI. 이사회 등 회사의 기관에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
25,1. 임원 및 직원의 현황,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
14,4. 재무제표,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
22,3. 주주의 의결권 행사에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
12,2. 연결재무제표,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
11,1. 요약재무정보,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
7,5. 의결권 현황,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
15,5. 재무제표 주석,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
5,3. 자본금 변동사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
13,3. 연결재무제표 주석,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
20,1. 이사회에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
8,6. 배당에 관한 사항 등,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
23,VII. 주주에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
10,III. 재무에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
21,2. 감사제도에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
16,6. 기타 재무에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
27,IX. 계열회사 등에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
24,VIII. 임원 및 직원 등에 관한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...
29,XI. 그 밖에 투자자 보호를 위하여 필요한 사항,http://dart.fss.or.kr/report/viewer.do?rcpNo=2...

In [30]:
# 첨부 문서 제목과 URL
dart.attach_docs(rcp_no)

,title,url
0,2019.04.01 감사보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
1,2019.04.01 감사의감사보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
2,2019.04.01 내부감시장치에대한감사의의견서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
3,2019.04.01 내부회계관리제도운영보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
4,2019.04.01 연결감사보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
5,2019.04.01 영업보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
6,2019.04.01 정관,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...

In [31]:
# 제목이 잘 매치되는 순서로 소트
dart.attach_docs(rcp_no, match='감사보고서')

,title,url
0,2019.04.01 감사보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
4,2019.04.01 연결감사보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
1,2019.04.01 감사의감사보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
5,2019.04.01 영업보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
3,2019.04.01 내부회계관리제도운영보고서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
2,2019.04.01 내부감시장치에대한감사의의견서,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...
6,2019.04.01 정관,http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20...